@import '../variables';

/* reset */

.menu-list {
  list-style: none;
}

.menu-link {
  @include button;

  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }

  &[data-active] {
    background-color: red;
  }
}
