@import '../variables';

/* reset */

.menu-list {
  list-style: none;
}

.menu-link {
  @include button;

  &:hover {
    background-color: $selected-color;
  }

  &[data-active] {
    //color: $background-color;
    background-color: $selected-color;
  }
}
