@import '../variables';

$empty: contrast(0%) brightness(9000%) opacity(50.5%);
$filled: contrast(180%) brightness(100000%) opacity(100%);

::selection {
  background-color: #232623;
  -webkit-text-fill-color: $highlight-color;

}
.isolate {
  position: relative;
  display: block;
  filter: grayscale(75%);
  isolation: isolate;

  .children {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.noise {
  background:
    //linear-gradient(rgba(0 0 0 / 100%) -50%, rgb(0 0 0 / 0%) 400%)
    radial-gradient(circle at -50%, (rgba(0 0 0 / 100%) -50%, rgb(0 0 0 / 0%) 400%))
      no-repeat,
    url('../../../static/images/noise.svg');
  filter: $filled;
  background-clip: text;
  animation: ink-fill 8s;
  animation-delay: -2.45s;
  -webkit-text-fill-color: transparent;
}

//noinspection Stylelint
@media all and (min-device-pixel-ratio: 0) and (resolution >= 0.001dpcm) {
  .noise {
    filter: $filled;
  }
}

@keyframes ink-fill {
  from {
    filter: $empty;
  }

  to {
    filter: $filled;
  }
}

@keyframes ink-leave {
  from {
    filter: $filled;
  }

  to {
    filter: $empty;
  }
}
