@import "../variables";

.header {
  display: grid;
  grid-template-columns: repeat(2, 20px);
  align-content: center;
  justify-content: center;
  line-height: 20px;

  .name-container {
    margin-top: auto;
    margin-bottom: auto;

    .lastname {
      text-indent: 20px;
    }
  }

  .portrait {
    align-self: center;
  }

  .contact-container {
    margin-top: auto;
    margin-bottom: auto;
    text-align: end;
  }
}
