@import '../variables';
@import 's_noise';

.card-view {
  grid-area: 1/1;
  perspective: 900px;
  cursor: pointer;
  //animation: card-float-x 10s cubic-bezier(0.42, 0, 0.2, 1) alternate infinite;
}

.works-view {
  position: relative;
  display: flex;
  flex-direction: column;
}

.te {
  z-index: 1;
  display: grid;
  isolation: isolate;
}

@keyframes card-float-x {
  from {
    transform: rotateX(-1deg) rotateY(-2deg) rotateZ(0deg) translate3d(-2px, 5px, -5px);;
  }

  to {
    transform: translate3d(2px, -3px, 10px) rotateX(2deg) rotateY(4deg) rotateZ(-2deg);
  }
}
