@import "../variables";

.landing-page {
  display: grid;
  flex: 1 0 auto;
  grid-template:
    ". . ."
    "name portrait contact"
    ".. .. blurb";
  grid-template-rows: repeat(3, minmax(1fr, 300px));
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 900px;
  column-gap: 70px;
  align-self: center;
  justify-content: center;
  max-height: 1000px;

  .name-container {
    grid-area: name;
    align-self: end;
  }

  .portrait {
    grid-area: portrait;
    align-self: center;
    justify-self: center;
  }

  .contact-container {
    grid-area: contact
  }

  .blurb {
    grid-area: blurb;
    align-self: end;
    justify-self: end;
    max-width: 16ch;
    text-align: end;
  }
}


