@import '../variables';

.header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: $gap-small;

  &:hover {
    background-color: $secondary-color;
  }
}

.separator {
  height: 1px;
  margin-bottom: $gap-med;
  background-color: $primary-color;
}

.role-selector {
  display: flex;
  margin-bottom: $gap-large;

  &:nth-child(n) {
    gap: $gap-med;
  }

  .menu-list {
    @include button;

    display: flex;
  }

  .menu-item {
    &:not(:last-child) {
      margin-right: $gap-med;
    }
  }
}

.works-body {
  display: grid;
  grid-template:
    'sidebar view'
    'chatbox chatbox';
  grid-template-columns: 1fr 3fr;
  grid-column-gap: $gap-large;
  margin-bottom: $gap-large;

  .sidebar {
    grid-area: sidebar;

    .menu-item {
      padding-bottom: $gap-med;

      &:last-child {
        padding-bottom: 0;
      }
    }

    .year-container:not(:first-child) {
      margin-top: $gap-large;
    }

    .year {
      padding-bottom: $gap-small;
      color: $primary-color;
      //font-style: italic;
    }
  }

  .works-view {
    grid-area: view;
  }

  .chatbox-container {
    grid-area: chatbox;
  }
}

.footer {
  display: flex;
  margin-top: auto;
}
