@import '../variables';


.header {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.separator {
  height: 1px;
  margin-bottom: 10px;
  background-color: $primary-color;
}

.role-selector {
  @include description;

  display: flex;
  margin-bottom: 20px;

  &:nth-child(n) {
    gap: 10px;
  }
}

.works-view {
  display: grid;
  grid-template:
    'sidebar view'
    'sidebar view'
    'sidebar view';
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
}

.sidebar {
  @include description;

  grid-area: sidebar;
}

.view {
  grid-area: view;
}

