$background-color: #FAFBFFFF;
$primary-color: #403F3D;
$secondary-color: #ECECEC;
$highlight-color: #467A53;
$site-width: 1000px;
$vertical-margins: 20px;
$portrait-size: 140px;


@mixin header {
  font-size: 1.45rem;
  color: $primary-color;
  transition: font;
}

@mixin description {
  font-size: 1rem;
  color: $primary-color;
}

